<%require 'ffaker'%>
<div class=container>
<h1>DB Faker Data</h1>
<hr>

<div class="markdown-heading" dir="auto"><h2 tabindex="-1" class="heading-element" dir="auto">Generators</h2></div>
  <p dir="auto">This is the full list of generators available with this app. If you need details about any of them, make sure to consult the documentation.</p>
<details>
  <summary>Default</summary>
<ul dir="auto">
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/address.md">Faker::Address</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/alphanumeric.md">Faker::Alphanumeric</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/ancient.md">Faker::Ancient</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/app.md">Faker::App</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/appliance.md">Faker::Appliance</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/artist.md">Faker::Artist</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/avatar.md">Faker::Avatar</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/bank.md">Faker::Bank</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/barcode.md">Faker::Barcode</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/beer.md">Faker::Beer</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/blood.md">Faker::Blood</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/boolean.md">Faker::Boolean</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/bossa_nova.md">Faker::BossaNova</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/business.md">Faker::Business</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/camera.md">Faker::Camera</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/cannabis.md">Faker::Cannabis</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/chile_rut.md">Faker::ChileRut</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/chuck_norris.md">Faker::ChuckNorris</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/code.md">Faker::Code</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/coffee.md">Faker::Coffee</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/coin.md">Faker::Coin</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/color.md">Faker::Color</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/commerce.md">Faker::Commerce</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/company.md">Faker::Company</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/compass.md">Faker::Compass</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/computer.md">Faker::Computer</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/construction.md">Faker::Construction</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/cosmere.md">Faker::Cosmere</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/crypto.md">Faker::Crypto</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/crypto_coin.md">Faker::CryptoCoin</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/currency.md">Faker::Currency</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/date.md">Faker::Date</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/dc_comics.md">Faker::DcComics</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/demographic.md">Faker::Demographic</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/dessert.md">Faker::Dessert</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/device.md">Faker::Device</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/driving_licence.md">Faker::DrivingLicence</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/drone/drone.md">Faker::Drone</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/educator.md">Faker::Educator</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/electrical_components.md">Faker::ElectricalComponents</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/emotion.md">Faker::Emotion</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/esport.md">Faker::Esport</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/file.md">Faker::File</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/finance.md">Faker::Finance</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/food.md">Faker::Food</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/funny_name.md">Faker::FunnyName</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/gender.md">Faker::Gender</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/greek_philosophers.md">Faker::GreekPhilosophers</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/hacker.md">Faker::Hacker</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/hipster.md">Faker::Hipster</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/hobby.md">Faker::Hobby</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/house.md">Faker::House</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/id_number.md">Faker::IdNumber</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/industry_segments.md">Faker::IndustrySegments</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/internet.md">Faker::Internet</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/invoice.md">Faker::Invoice</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/job.md">Faker::Job</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/json.md">Faker::Json</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/kpop.md">Faker::Kpop</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/lorem.md">Faker::Lorem</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/lorem_flickr.md">Faker::LoremFlickr</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/markdown.md">Faker::Markdown</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/marketing.md">Faker::Marketing</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/measurement.md">Faker::Measurement</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/military.md">Faker::Military</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/mountain.md">Faker::Mountain</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/name.md">Faker::Name</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/nation.md">Faker::Nation</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/nato_phonetic_alphabet.md">Faker::NatoPhoneticAlphabet</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/national_health_service.md">Faker::NationalHealthService</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/number.md">Faker::Number</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/omniauth.md">Faker::Omniauth</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/phone_number.md">Faker::PhoneNumber</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/placeholdit.md">Faker::Placeholdit</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/programming_language.md">Faker::ProgrammingLanguage</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/relationship.md">Faker::Relationship</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/restaurant.md">Faker::Restaurant</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/science.md">Faker::Science</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/slack_emoji.md">Faker::SlackEmoji</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/source.md">Faker::Source</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/south_africa.md">Faker::SouthAfrica</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/space.md">Faker::Space</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/string.md">Faker::String</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/stripe.md">Faker::Stripe</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/subscription.md">Faker::Subscription</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/superhero.md">Faker::Superhero</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/tea.md">Faker::Tea</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/team.md">Faker::Team</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/theater.md">Faker::Theater</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/time.md">Faker::Time</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/twitter.md">Faker::Twitter</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/types.md">Faker::Types</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/university.md">Faker::University</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/vehicle.md">Faker::Vehicle</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/verbs.md">Faker::Verbs</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/vulnerability_identifier.md">Faker::VulnerabilityIdentifier</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/default/world_cup.md">Faker::WorldCup</a></li>
</ul>
</details>
<details>
  <summary>Blockchain</summary>
<ul dir="auto">
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/blockchain/aeternity.md">Faker::Blockchain::Aeternity</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/blockchain/bitcoin.md">Faker::Blockchain::Bitcoin</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/blockchain/ethereum.md">Faker::Blockchain::Ethereum</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/blockchain/tezos.md">Faker::Blockchain::Tezos</a></li>
</ul>
</details>
<details>
  <summary>Books</summary>
<ul dir="auto">
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/books/book.md">Faker::Book</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/books/culture_series.md">Faker::Books::CultureSeries</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/books/dune.md">Faker::Books::Dune</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/books/lovecraft.md">Faker::Books::Lovecraft</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/books/the_kingkiller_chronicle.md">Faker::Books::TheKingkillerChronicle</a></li>
</ul>
</details>
<details>
  <summary>Fantasy</summary>
<ul dir="auto">
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/fantasy/tolkien.md">Faker::Fantasy::Tolkien</a></li>
</ul>
</details>
<details>
  <summary>Travel</summary>
<ul dir="auto">
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/travel/airport.md">Faker:Travel::Airport</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/travel/train_station.md">Faker:Travel::TrainStation</a></li>
</ul>
</details>
<details>
  <summary>Creature</summary>
<ul dir="auto">
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/creature/animal.md">Faker::Creature::Animal</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/creature/bird.md">Faker::Creature::Bird</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/creature/cat.md">Faker::Creature::Cat</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/creature/dog.md">Faker::Creature::Dog</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/creature/horse.md">Faker::Creature::Horse</a></li>
</ul>
</details>
<details>
  <summary>Games</summary>
<ul dir="auto">
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/game.md">Faker::Game</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/clash_of_clans.md">Faker::Games::ClashOfClans</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/dnd.md">Faker::Games::DnD</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/dota.md">Faker::Games::Dota</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/elder_scrolls.md">Faker::Games::ElderScrolls</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/fallout.md">Faker::Games::Fallout</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/final_fantasy_xiv.md">Faker::Games::FinalFantasyXIV</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/half_life.md">Faker::Games::HalfLife</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/heroes.md">Faker::Games::Heroes</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/heroes_of_the_storm.md">Faker::Games::HeroesOfTheStorm</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/league_of_legends.md">Faker::Games::LeagueOfLegends</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/minecraft.md">Faker::Games::Minecraft</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/myst.md">Faker::Games::Myst</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/overwatch.md">Faker::Games::Overwatch</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/pokemon.md">Faker::Games::Pokemon</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/sonic_the_hedgehog.md">Faker::Games::SonicTheHedgehog</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/street_fighter.md">Faker::Games::StreetFighter</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/super_mario.md">Faker::Games::SuperMario</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/super_smash_bros.md">Faker::Games::SuperSmashBros</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/touhou.md">Faker::Games::Touhou</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/warhammer_fantasy.md">Faker::Games::WarhammerFantasy</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/witcher.md">Faker::Games::Witcher</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/world_of_warcraft.md">Faker::Games::WorldOfWarcraft</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/games/zelda.md">Faker::Games::Zelda</a></li>
</ul>
</details>
<details>
  <summary>Japanese Media</summary>
<ul dir="auto">
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/japanese_media/cowboy_bebop.md">Faker::JapaneseMedia::CowboyBebop</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/japanese_media/dragon_ball.md">Faker::JapaneseMedia::DragonBall</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/japanese_media/one_piece.md">Faker::JapaneseMedia::OnePiece</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/japanese_media/studio_ghibli.md">Faker::JapaneseMedia::StudioGhibli</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/japanese_media/sword_art_online.md">Faker::JapaneseMedia::SwordArtOnline</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/japanese_media/naruto.md">Faker::JapaneseMedia::Naruto</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/japanese_media/doraemon.md">Faker::JapaneseMedia::Doraemon</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/japanese_media/conan.md">Faker::JapaneseMedia::Conan</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/japanese_media/fullmetal_alchemist_brotherhood.md">Faker::JapaneseMedia::FullmetalAlchemistBrotherhood</a></li>
</ul>
</details>
<details>
  <summary>Movies</summary>
<ul dir="auto">
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/movie.md">Faker::Movie</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/avatar.md">Faker::Movies::Avatar</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/back_to_the_future.md">Faker::Movies::BackToTheFuture</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/departed.md">Faker::Movies::Departed</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/ghostbusters.md">Faker::Movies::Ghostbusters</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/harry_potter.md">Faker::Movies::HarryPotter</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/hitchhikers_guide_to_the_galaxy.md">Faker::Movies::HitchhikersGuideToTheGalaxy</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/hobbit.md">Faker::Movies::Hobbit</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/how_to_train_your_dragon.md">Faker::Movies::HowToTrainYourDragon</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/lebowski.md">Faker::Movies::Lebowski</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/lord_of_the_rings.md">Faker::Movies::LordOfTheRings</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/princess_bride.md">Faker::Movies::PrincessBride</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/star_wars.md">Faker::Movies::StarWars</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/tron.md">Faker::Movies::TRON</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/movies/v_for_vendetta.md">Faker::Movies::VForVendetta</a></li>
</ul>
</details>
<details>
  <summary>Music</summary>
<ul dir="auto">
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/music/music.md">Faker::Music</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/music/grateful_dead.md">Faker::Music::GratefulDead</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/music/hiphop.md">Faker::Music::Hiphop</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/music/opera.md">Faker::Music::Opera</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/music/pearl_jam.md">Faker::Music::PearlJam</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/music/phish.md">Faker::Music::Phish</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/music/prince.md">Faker::Music::Prince</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/music/rock_band.md">Faker::Music::RockBand</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/music/rush.md">Faker::Music::Rush</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/music/smashing_pumpkins.md">Faker::Music::SmashingPumpkins</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/music/umphreys_mcgee.md">Faker::Music::UmphreysMcgee</a></li>
</ul>
</details>
<details>
  <summary>Quotes</summary>
<ul dir="auto">
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/quotes/quote.md">Faker::Quote</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/quotes/chiquito.md">Faker::Quotes::Chiquito</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/quotes/rajnikanth.md">Faker::Quotes::Rajnikanth</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/quotes/shakespeare.md">Faker::Quotes::Shakespeare</a></li>
</ul>
</details>
<details>
  <summary>Sports</summary>
<ul dir="auto">
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/sports/sport.md">Faker::Sport</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/sports/basketball.md">Faker::Sports::Basketball</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/sports/chess.md">Faker::Sports::Chess</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/sports/football.md">Faker::Sports::Football</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/sports/mountaineering.md">Faker::Sports::Mountaineering</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/sports/volleyball.md">Faker::Sports::Volleyball</a></li>
</ul>
</details>
<details>
  <summary>Tv Shows</summary>
<ul dir="auto">
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/aqua_teen_hunger_force.md">Faker::TvShows::AquaTeenHungerForce</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/archer.md">Faker::TvShows::Archer</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/big_bang_theory.md">Faker::TvShows::BigBangTheory</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/bojack_horseman.md">Faker::TvShows::BojackHorseman</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/breaking_bad.md">Faker::TvShows::BreakingBad</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/brooklyn_nine_nine.md">Faker::TvShows::BrooklynNineNine</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/buffy.md">Faker::TvShows::Buffy</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/community.md">Faker::TvShows::Community</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/dr_who.md">Faker::TvShows::DrWho</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/dumb_and_dumber.md">Faker::TvShows::DumbAndDumber</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/family_guy.md">Faker::TvShows::FamilyGuy</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/final_space.md">Faker::TvShows::FinalSpace</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/friends.md">Faker::TvShows::Friends</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/game_of_thrones.md">Faker::TvShows::GameOfThrones</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/hey_arnold.md">Faker::TvShows::HeyArnold</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/how_i_met_your_mother.md">Faker::TvShows::HowIMetYourMother</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/michael_scott.md">Faker::TvShows::MichaelScott</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/new_girl.md">Faker::TvShows::NewGirl</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/parks_and_rec.md">Faker::TvShows::ParksAndRec</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/rick_and_morty.md">Faker::TvShows::RickAndMorty</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/rupaul.md">Faker::TvShows::RuPaul</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/seinfeld.md">Faker::TvShows::Seinfeld</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/silicon_valley.md">Faker::TvShows::SiliconValley</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/simpsons.md">Faker::TvShows::Simpsons</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/south_park.md">Faker::TvShows::SouthPark</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/spongebob.md">Faker::TvShows::Spongebob</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/star_trek.md">Faker::TvShows::StarTrek</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/stargate.md">Faker::TvShows::Stargate</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/stranger_things.md">Faker::TvShows::StrangerThings</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/suits.md">Faker::TvShows::Suits</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/supernatural.md">Faker::TvShows::Supernatural</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/the_expanse.md">Faker::TvShows::TheExpanse</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/the_fresh_prince_of_bel_air.md">Faker::TvShows::TheFreshPrinceOfBelAir</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/the_it_crowd.md">Faker::TvShows::TheITCrowd</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/the_thick_of_it.md">Faker::TvShows::TheThickOfIt</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/twin_peaks.md">Faker::TvShows::TwinPeaks</a></li>
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/tv_shows/venture_bros.md">Faker::TvShows::VentureBros</a></li>
</ul>
</details>
<details>
  <summary>Locations</summary>
<ul dir="auto">
<li><a href="https://github.com/faker-ruby/faker/blob/main/doc/locations/australia.md">Faker::Locations::Australia</a></li>
</ul>
</details>
<hr>
Example Insert Code:

<br>

  <pre><code class=container>INSERT INTO LoyaltyProfileSys.FavouriteCat (Cat, ModDT) 
  VALUES('#{Faker::Food.ethnic_category}', current_timestamp());</code></pre>

</div>
<!--<img src='https://media.tenor.com/xzjlrhYq_lQAAAAj/cat-nyan-cat.gif'></img>-->

<div class=container>
<%= simple_form_for @queries do |f| %>
  <%= f.input :query ,  label: "SQL Insert Code Goes Here, params in ?", as: :text, value: @a%>
  <%= f.input :Fparams, label: "Insert Faker ? Params in order here.", as: :text%>
  <%= f.input :amount,  label: "Number of records" %>
  <%= f.submit :submit %>
<% end %>


</div>
